* {
  // font-family: 'Kakao';
}
.IntroPage {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: row-reverse;

  &-textWrap {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    left: -100px;
    &-textSection {
      height: 770px;
      text-align: right;
    }
    &-subTitle {
      font-size: 30px;
    }
    &-mainTitle {
      font-size: 60px;
    }
    &-middleTitle {
      font-size: 35px;
      color: #a5a5a5;
      margin: 40px 0px 40px 0px;
    }
    &-serviceSubTitle {
      width: 310px;
      font-size: 25px;
      color: #a5a5a5;
      margin-top: 5px;
    }
  }

  &-imgWrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -200px;
    img {
    }
  }
}
