@import 'styles/color/color_scheme.scss';

.MineServiceSub {
  &__content {
    background-color: $primary;
    height: 65vh;
    color: $white;
    padding: 3% 0px 0px 10%;
    & h1 {
      font-size: 100px;
      margin: 0;
    }
    &-serviceList {
      align-items: center;
      & ul {
        min-width: 300px;
        float: left;
        list-style: none;
        padding-right: 13%;
        padding-left: 0;
      }

      & li {
        font-size: 26px;
        &:first-child {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 7%;
        }
      }

      & p {
        margin-bottom: 10%;
      }
    }
  }
  &__img {
  }
}
