@import 'styles/color/color_scheme.scss';

.MineServiceSub {
  &__content {
    background-color: $primary;
    height: 65vh;
    width: 100%;
    color: $white;
    padding: 30px 0px 0px 120px;
    & h1 {
      font-size: 100px;
      margin: 0;
    }
    &-serviceList {
      & ul {
        float: left;
        list-style: none;
        padding-right: 120px;
        padding-left: 0;
        &:last-child {
          padding-right: 0;
        }
      }

      & li {
        font-size: 26px;
        &:first-child {
          font-size: 40px;
          margin-bottom: 7%;
        }
      }
      & p {
        margin-bottom: 10%;
      }
    }
  }
  &__img {
    & img {
      position: absolute;
      top: 55%;
      left: 5.5%;
      width: 80%;
    }
  }
}
