@import 'styles/color/color_scheme.scss';

.MineMockUp {
  &__img {
    position: absolute;
    left: 5%;
    background-color: $silver;
    width: 110vh;
    height: 80vh;
  }
  &__content {
    text-align: right;
    margin: 5% 10% 0 0;
    & h1 {
      font-size: 75px;
    }
    &-description {
      font-size: 24px;
      &-title {
        font-size: 30px;
        font-weight: bold;
      }
      & p {
        margin-bottom: 36px;
      }
    }
  }
}
