@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

.LocationApply {
  width: 100%;
  height: 100vh;
  &-section {
    width: 100%;
    font-size: 300px;
    font-family: $SPOQA_HANSANS_BOLD !important;
    color: #f2f7fc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-locationApplyWrap {
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%, 7%);
    &-topTitle {
      font-size: 18px;
      margin-bottom: 8px;
    }
    &-underTitle {
      font-size: 50px;
    }
    &-explainWrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &-wrapper {
        width: 50%;
        height: 140px;
        color: #a5a5a5;
        font-size: 24px;
        text-align: center;
      }
    }
    &-uiImgWrap {
      width: 100%;
      height: 390px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-wrapper {
        width: 1280px;
        height: 100%;
        display: flex;
        justify-content: space-between;

        &-webImg {
          height: 390px;
          display: flex;
          align-items: center;
          & > img {
            height: 390px;
          }
        }
        &-mobileImg {
          height: 390px;
          display: flex;
          align-items: center;
          & > img {
            height: 390px;
          }
        }
      }
    }
  }
}
