@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

.ImageSlide{
  width: 100%;
  margin: auto;
  &__slide{
    display: flex;
    align-items: start;
    justify-content: start;
    background-size: cover;
    width: 100%;
    height: 80vh;
    &-wrap{
      width: 100%;
      height: 100%;
    }
    &-textbox{
      position: absolute;
      top: 15rem;
      left: 5rem;
      color: $white;
      font-size: $font_content_3;
      font-family: $NOTO_SANS_KR_REGULAR,$NOTO_SANS_REGULAR;
      &-title{ 
        font-size: $font_title_5;
        font-family: $NOTO_SANS_KR_BOLD,$NOTO_SANS_BOLD;
      }
      &-des{ display: block; }
    }
    &-img{
      width: 100%;
      height: auto;
      &-1 {
        width: 100%;
        &-1 {
          width: 100%;
          object-fit: cover;
          min-height: 1080px;
        }
      }

      &-2 {
        width: 100%;
        &-2 {
          width: 100%;
          object-fit: fill;
        }
      }

      &-3 {
        width: 100%;
        &-3 {
          width: 100%;
          object-fit: fill;
        }
      }

      &-4 {
        width: 100%;
        &-4 {
          width: 100%;
          object-fit: fill;
        }
      }

      &-5 {
        width: 100%;
        &-5 {
          width: 100%;
          object-fit: fill;
        }
      }
    }
  }
  &__underline{
    width: 150%;
    border: 0.5px solid $white;
    margin: 10px 0px 10px 0px;
  }
}