@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

.main{
  font-family: $NOTO_SANS_KR_MEDIUM,$NOTO_SANS_MEDIUM;
  font-size: $font_content_2;
  color: $font_1;
  user-select: none;

  //Image slide
  &__slide{
    width: 100%;
    height: 35rem;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/images/권용빈.png);
    &-title{
      color: $white;
    }
    &-content{
      color: $white;
    }
  }

  &__content{
      //Top list
      &-toplist{
        list-style: none;
        margin-bottom: 5rem;
        margin-top: 5rem;
        text-align: center;
        &-item{
          display: inline-block;
          padding: 0px 50px 20px 50px;
          &+&{
            border-left: 1px solid $lighterGray;
          }

          &-header{
            font-size: $font_content_2;
            text-align: start;
            margin-bottom: 1.5rem;
          }
          &-number{
            font-size: 30px;
            font-family: $NOTO_SANS_KR_BOLD,$NOTO_SANS_BOLD;
            margin-right: 2rem;
          }
          &-increase{
            font-size: $font_content_1;
            &-icon{color: $primary;}
          }
          &-updateDate{
            text-align: end;
            color: $font_3;
            font-family: $NOTO_SANS_LIGHT;
            margin-bottom: 2.5rem;
          }
          &-link{
            text-decoration: none;
            float: left;
            color: $font_1;

            &-icon{
              float: left;
              font-size: $font_content_3;
            }
          }
        }
      }

      //bottomList ㄷ모양 이미지
      &-bottomList{
        list-style: none;
        text-align: center;
        width: 100%;
        &-wrap{
          width: 80rem;
          margin-left: auto;
          margin-right: auto;
        }
        &-item{
          display: inline-block;
          &-hoverContent{
            display: none;
          }

          &-img{
            width: 26rem;
            height: 20rem;
          }
        }
        &-textBox{
          display: inline-block;
          width: 52rem;
          height: auto;
          font-size: $font_content_3;
          &-content{
            &-title{
              font-size: 30px;
              font-family: $NOTO-SANS_BLACK;
            }
          }
        }
      }

      &-endList{
        &-list{
          list-style: none;
          &-item{
            &-icon{
              font-size: 4rem;
              color: $primary;
            }
            &-title{
              font-size: $font_content_2;
            }
            &-des{}
          }
        }
      }
    }

    &__underline{ 
      border: 0.5px solid $font_1; 
      margin: 5px 0px 5px 0px;
    }
}