@import 'styles/color/color_scheme.scss';
@import 'styles/typography/typography_scheme.scss';

.TeacherTablet {
  width: 100%;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;

  &-LeftImage {
    width: 65%;
    height: 92%;
    object-fit: cover;
    margin-top: 4%;
  }

  &-RightSection {
    width: 35%;
    height: 80%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3rem 5rem 3rem 2rem;

    &-Title {
      & > * {
        font-family: $SPOQA_HANSANS_BOLD !important;
        text-align: right;
        color: $primary;
        font-size: 5rem;
      }
    }

    &-Contents {
      & > * {
        width: 350px;
        text-align: right;
        font-size: 25px;
      }
    }
  }
}
