@import 'styles/color/color_scheme.scss';

.TeacherTablet {
  // &__leftImg {
  //   float: left;
  //   margin-top: 5%;
  //   margin-right: 4%;
  //   width: 60vh;
  //   height: 80vh;
  //   background-color: $silver;
  //   box-shadow: 10px 40px 60px rgba($color: $black, $alpha: 0.3);
  // }
  &__content {
    position: absolute;
    top: 5%;
    right: 10%;
    text-align: right;
    & h1 {
      font-size: 4.7rem;
      color: $primary;
    }
    & p {
      font-size: 24px;
      margin-bottom: 5%;
    }
  }

  &__Img {
    & img {
      height: 100vh;
    }
  }
  // &__rightImg {
  //   float: right;
  //   margin-top: 5%;
  //   width: 90vh;
  //   height: 80vh;
  //   background-color: $silver;
  //   box-shadow: 10px 40px 60px rgba($color: $black, $alpha: 0.3);
  // }
  &__backGround {
    position: relative;
    top: 65vh;
    bottom: 0;
    z-index: -1;
    background-color: $primary;
    height: 35vh;
    width: 220vh;
  }
}
