* {
  box-sizing: border-box;
}

.InquiryList {
  background-color: rgb(239, 240, 242);

  &-ListBox {
    background-color: #fff;
    width: 70%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    &-Contents {
      margin-left: 5%;

      &-List {
        margin-top: 2%;
        margin-bottom: 2%;
      }
    }
  }

  &-TitleBox {
    background-color: white;
    width: 70%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;

    &-Contents {
      margin-left: 5%;
    }

    &-Title {
      font-size: 1.5rem;
    }

    &-SubTitle {
      margin-top: 1.2rem;
      color: #2DB000;
      font-weight: 800;
    }
  }
}