@import 'styles/color/color_scheme.scss';
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

* {
  box-sizing: border-box;
  font-family: 'Jeju Gothic', sans-serif !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: auto !important;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}
