@import 'styles/color/color_scheme.scss';

* {
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  line-height: 1.34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}